@import "minireset.css";

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body:has(dialog[open]) {
  filter: blur(1px);
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  border: 1px solid #0000003f;
  border-radius: 10px;
}

dialog::backdrop {
  background: #000;
  opacity: 0.8;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog form div {
  display: flex;
  flex-direction: column;
}

dialog form div:last-child {
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100dvh;
  padding: 20px;
}

.header {
  font-size: 1.5rem;
}

.books {
  width: 100%;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}

.books > div {
  height: 250px;
  background-color: rgb(83, 83, 83);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.books > div > div {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

button {
  border: 1px solid #77777746;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
