@import "minireset.css";

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body:has(dialog[open]) {
  filter: blur(1px);
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
}

dialog::backdrop {
  background: #000;
  opacity: 0.8;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog form div {
  display: flex;
  flex-direction: column;
}

dialog form div:last-child {
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100dvh;
  padding: 20px;
}

.header {
  font-size: 1.5rem;
}

.books {
  width: 100%;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
